
<div class="container mt-4">
  <h2 class="mb-4">DASHBOARD</h2>

  <div class="row">

    <!--BOTONES DE PRUEBA -->
   
    
    

  <h3 class="mt-4">Métricas:</h3>
  
 
    <h2 class="text-center">{{ currentEncuesta.nombre }}</h2>
    <div class="md-form form-group mt-3">

      <label >{{ currentEncuesta.preg1 }}</label>
      
      <div *ngIf="valorDeSurvey1 === 'si-no' ">
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 400px;" #metricasChart></canvas>
          </div>
        </div>
       </div>
       
      <div *ngIf="valorDeSurvey1 === '1-5' ">
        
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart2></canvas>
          </div>
        </div>
      </div>
      
      
       <div *ngIf="valorDeSurvey1 === '1-10' ">
        
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart3></canvas>
          </div>
        </div>
      

    </div>
      

    <div class="md-form form-group mt-3">

      <label >{{ currentEncuesta.preg2 }}</label>
      
      <div *ngIf="valorDeSurvey2 === 'si-no' ">
        
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 400px;" #metricasChart></canvas>
          </div>
        </div>
       </div>
       
      <div *ngIf="valorDeSurvey2 === '1-5' ">
        
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart2></canvas>
          </div>
        </div>
      </div>
      
      
       <div *ngIf="valorDeSurvey2 === '1-10' ">
        
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart3></canvas>
          </div>
        </div>
      

    </div>


    <div class="md-form form-group mt-3">

      <label >{{ currentEncuesta.preg3 }}</label>
      
      <div *ngIf="valorDeSurvey3 === 'si-no' ">
        <p>si-no</p>
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart></canvas>
          </div>
        </div>
       </div>
       
      <div *ngIf="valorDeSurvey3 === '1-5' ">
        <p>ES 1-5</p>
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart2></canvas>
          </div>
        </div>
      </div>
      
      
       <div *ngIf="valorDeSurvey3 === '1-10' ">
        <p>1-10</p>
        <div class="card mt-4 bg-white">
          <div class="card-body">
            <h5 class="card-title" style="color: #000000;">Gráfico de Métricas</h5>
            <canvas class="w-100" style="max-height: 1200px;" #metricasChart3></canvas>
          </div>
        </div>
      

    </div>



  </div><!--DIV FINAL-->
  
    
  
  
    

  <!--  
    <p>Respuestas "Sí": {{ metricaSi }}</p>
    <p>Respuestas "No": {{ metricaNo }}</p>
    <p>Respuestas "1 al 5": {{ metrica1al5 }}</p>
    <p>Respuestas "1 al 10": {{ metrica1al10 }}</p>
  -->
