<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="card container mt-3">
  <div class="title card-header">
    <h4>Detalles de la Encuesta</h4>
  </div>
  <div class="table table-hover">
    <form class="card-body" (ngSubmit)="submitEncuesta()">
      <h2 class="text-center">{{ currentEncuesta.nombre }}</h2>
      <h4 class="text-center">{{ currentEncuesta.descripcion }}</h4>
      
      <div class="md-form form-group mt-3">
        <label for="resp1">{{ currentEncuesta.preg1 }}</label>
        <br>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DE SI y NO -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === 'si-no'">
          <div class="form-check form-check-inline" *ngFor="let option of [{ value: 'Si', label: 'Sí' }, { value: 'No', label: 'No' }]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp' + option.value"
              name="respuesta"
              [value]="option.value"
              [(ngModel)]="encuestaRespuestas.resp1"
            />
            <label class="form-check-label" [for]="'resp' + option.value">{{ option.label }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 5 -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-5' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp' + i"
              name="respuesta"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp1"
            />
            <label class="form-check-label" [for]="'resp' + i">{{ i }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 10 --> 
        
        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-10' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp' + i"
              name="respuesta"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp1"
            />
            <label class="form-check-label" [for]="'resp' + i">{{ i }}</label>
          </div>
        </div>
      </div>



      <!--PREGUNTA 2-->
      <div class="md-form form-group mt-3" *ngIf="currentEncuesta.preg2 !== '' "> <!-- COMPRUEBA si existe algo cargado y pinta la pregunta --> 
        <label for="resp2">{{ currentEncuesta.preg2 }}</label>
        <br>
   <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DE SI y NO -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === 'si-no'">
          <div class="form-check form-check-inline" *ngFor="let option of [{ value2: 'Si', label2: 'Sí' }, { value2: 'No', label2: 'No' }]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp2' + option.value2"
              name="respuesta2"
              [value]="option.value2"
              [(ngModel)]="encuestaRespuestas.resp2"
            />
            <label class="form-check-label" [for]="'resp2' + option.value2">{{ option.label2 }}</label>
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 5 -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-5' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp2' + i"
              name="respuesta2"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp2"
            />
            <label class="form-check-label" [for]="'resp2' + i">{{ i }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 10 --> 
        
        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-10' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp2' + i"
              name="respuesta2"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp2"
            />
            <label class="form-check-label" [for]="'resp2' + i">{{ i }}</label>
          </div>
        </div>
      </div>


         <!--PREGUNTA 3-->
      <div class="md-form form-group mt-3" *ngIf="currentEncuesta.preg3 !== '' "> <!-- COMPRUEBA si existe algo cargado y pinta la pregunta --> 
        <label for="resp3">{{ currentEncuesta.preg3 }}</label>
      <br>

   <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DE SI y NO -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === 'si-no'">
          <div class="form-check form-check-inline" *ngFor="let option of [{ value3: 'Si', label3: 'Sí' }, { value3: 'No', label3: 'No' }]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp3' + option.value3"
              name="respuesta3"
              [value]="option.value3"
              [(ngModel)]="encuestaRespuestas.resp3"
            />
            <label class="form-check-label" [for]="'resp3' + option.value3">{{ option.label3 }}</label>
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 5 -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-5' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp3' + i"
              name="respuesta3"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp3"
            />
            <label class="form-check-label" [for]="'resp3' + i">{{ i }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 10 --> 
        
        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-10' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp3' + i"
              name="respuesta3"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp3"
            />
            <label class="form-check-label" [for]="'resp3' + i">{{ i }}</label>
          </div>
        </div>
        </div>
      


      <!--PREGUNTA 4-->
      <div class="md-form form-group mt-3" *ngIf="currentEncuesta.preg4 !== '' "> <!-- COMPRUEBA si existe algo cargado y pinta la pregunta --> 
        <label for="resp4">{{ currentEncuesta.preg4 }}</label>
      </div>

   <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DE SI y NO -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === 'si-no'">
          <div class="form-check form-check-inline" *ngFor="let option of [{ value4: 'Si', label4: 'Sí' }, { value4: 'No', label4: 'No' }]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp4' + option.value4"
              name="respuesta4"
              [value]="option.value4"
              [(ngModel)]="encuestaRespuestas.resp4"
            />
            <label class="form-check-label" [for]="'resp2' + option.value4">{{ option.label4 }}</label>
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 5 -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-5' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp4' + i"
              name="respuesta4"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp4"
            />
            <label class="form-check-label" [for]="'resp4' + i">{{ i }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 10 --> 
        
        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-10' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp4' + i"
              name="respuesta4"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp4"
            />
            <label class="form-check-label" [for]="'resp4' + i">{{ i }}</label>
          </div>
        </div>



      <!--PREGUNTA 5-->
      <div class="md-form form-group mt-3" *ngIf="currentEncuesta.preg5 !== '' "> <!-- COMPRUEBA si existe algo cargado y pinta la pregunta --> 
        <label for="resp5">{{ currentEncuesta.preg5 }}</label>
      </div>

   <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DE SI y NO -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === 'si-no'">
          <div class="form-check form-check-inline" *ngFor="let option of [{ value5: 'Si', label5: 'Sí' }, { value5: 'No', label5: 'No' }]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp5' + option.value5"
              name="respuesta5"
              [value]="option.value5"
              [(ngModel)]="encuestaRespuestas.resp5"
            />
            <label class="form-check-label" [for]="'resp2' + option.value5">{{ option.label5 }}</label>
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 5 -->

        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-5' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp5' + i"
              name="respuesta5"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp5"
            />
            <label class="form-check-label" [for]="'resp5' + i">{{ i }}</label>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- VALORES DEL 1 AL 10 --> 
        
        <div class="form-check form-check-inline" *ngIf="valorRecuperado === '1-10' ">
          <div class="form-check form-check-inline" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <input
              type="radio"
              class="form-check-input"
              [id]="'resp5' + i"
              name="respuesta5"
              [value]="i"
              [(ngModel)]="encuestaRespuestas.resp5"
            />
            <label class="form-check-label" [for]="'resp5' + i">{{ i }}</label>
          </div>
        </div>










      <br>




      <div class="btn_survey">
        <div>
          <button type="button" class="btn btn-secondary m-1" (click)="limpiarCampos()">Limpiar</button>
          <button type="submit" class="btn btn-primary m-1">Enviar Encuesta</button>
        </div>
        <div>
          <button routerLink="/main" type="button" class="btn btn-secondary m-1">Volver</button>
        </div>
      </div>
    </form>
  </div>
</div>