<footer class="text-center text-lg-start text-muted mt-3">
    <section
      class="d-flex justify-content-center p-2 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <h6>SEGUINOS EN NUESTRAS REDES SOCIALES</h6>
      </div>
      <div>
        <a href="https://www.facebook.com/MinaClaveroOK/" target="_blank" class="me-4 text-reset">
          <i class="ri-facebook-fill socialIcon"></i>
        </a>
        <a href="https://www.instagram.com/minaclaveroofc/" target="_blank" class="me-4 text-reset">
          <i class="ri-instagram-fill socialIcon"></i>
        </a>
        <a href="https://twitter.com/MinaClaveroOfc" target="_blank" class="me-4 text-reset">
          <i class="ri-twitter-fill socialIcon"></i>
        </a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-3">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Secretaría de turismo
            </h6>
            <p>
              El proyecto tiene como objetivo principal recopilar datos y opiniones de turistas que visitan Mina Clavero. La Secretaría de Turismo de la Municipalidad de Mina Clavero busca mejorar la experiencia de los visitantes y recopilar información valiosa para tomar decisiones basadas en datos.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <h6 class="text-uppercase fw-bold mb-4">
              Links de interés
            </h6>
            <p class="link">
              <i class="ri-external-link-fill"></i><a href="http://www.minaclavero.gov.ar/vecinos.php" target="_blank" class="text-reset">Muni Mina Clavero</a>
            </p>
            <p class="link">
              <i class="ri-external-link-fill"></i><a href="http://www.minaclavero.gov.ar/turismo.php" class="text-reset">Turismo</a>
            </p>
          </div>
  
          <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-2">
            <h6 class="text-uppercase fw-bold mb-4">
              Teléfonos útiles
            </h6>
            <p><i class="ri-phone-fill"></i>Policia: +54 (03544) 476261 / 101</p>
            <p><i class="ri-phone-fill"></i>Emergencias Médicas: 107</p>
            <p><i class="ri-phone-fill"></i>Bomberos: 100 / (03544) 472365</p>
            <p><i class="ri-phone-fill"></i>Hospital: +54 (03544) 476241</p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="ri-timer-2-fill"></i>8:00 a 20:00 horas</p>
            <p><i class="ri-map-pin-2-fill"></i>Av. San Martín esq. Fleming</p>
            <p><i class="ri-phone-fill"></i>(03544) 47-0171 / 55-9410 (Plazoleta)</p>
            <p><i class="ri-mail-fill"></i><a href="mailto:informes@minaclavero.gov.ar"> informes@minaclavero.gov.ar</a></p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-2" style="background-color: #171719;;">
      © 2023 
      <p><strong>Equipo 16 - xAcademy</strong></p>
    </div>
    
  </footer>