<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="card container mt-3">
    <div div class="title card-header">
        <h4>{{ operacion }} Encuesta</h4>
    </div>

    <div class="table table-hover">
        <form [formGroup]="form" (ngSubmit)="addEncuesta()" class="card-body">
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre de la encuesta">
            <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                El campo nombre es <strong>requerido</strong>
            </span>
            <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese descripcion">
            <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                El campo descripcion es <strong>requerido</strong>
            </span>
            <hr>

           
            
            <input formControlName="preg1" type="text" class="form-control" placeholder="Pregunta 1">
            
            <label for="">Tipo de respuesta:</label>
            <select formControlName="tipoRespuestas1" class="form-control bg-gradient" >
                <option value="" disabled selected style="color: red;">Seleccione el tipo de respuesta:</option>
                <option value="si-no" style="color: #000000;">Sí/No</option>
                <option value="1-5" style="color: #000000;">1 al 5</option>
                <option value="1-10" style="color: #000000;">1 al 10</option>
            </select>
            <br>
            <br>

            <input formControlName="preg2" type="text" class="form-control" placeholder="Pregunta 2"> 
            <label for="">Tipo de respuesta:</label>
            <select formControlName="tipoRespuestas2" class="form-control bg-gradient" >
                <option value="" disabled selected style="color: red;">Seleccione el tipo de respuesta:</option>
                <option value="si-no" style="color: #000000;">Sí/No</option>
                <option value="1-5" style="color: #000000;">1 al 5</option>
                <option value="1-10" style="color: #000000;">1 al 10</option>
            </select>
            <br>
            <br>

            <input formControlName="preg3" type="text" class="form-control" placeholder="Pregunta 3">
            <label for="">Tipo de respuesta:</label>
            <select formControlName="tipoRespuestas3" class="form-control bg-gradient" >
                <option value="" disabled selected style="color: red;">Seleccione el tipo de respuesta:</option>
                <option value="si-no" style="color: #000000;">Sí/No</option>
                <option value="1-5" style="color: #000000;">1 al 5</option>
                <option value="1-10" style="color: #000000;">1 al 10</option>
            </select>
            <br>
            <br>

            <input formControlName="preg4" type="text" class="form-control" placeholder="Pregunta 4"> 
            <label for="">Tipo de respuesta:</label>
            <select formControlName="tipoRespuestas4" class="form-control bg-gradient" >
                <option value="" disabled selected style="color: red;">Seleccione el tipo de respuesta:</option>
                <option value="si-no" style="color: #000000;">Sí/No</option>
                <option value="1-5" style="color: #000000;">1 al 5</option>
                <option value="1-10" style="color: #000000;">1 al 10</option>
            </select>
            <br>
            <br>

            <input formControlName="preg5" type="text" class="form-control" placeholder="Pregunta 5">
            <label for="">Tipo de respuesta:</label>
            <select formControlName="tipoRespuestas5" class="form-control bg-gradient" >
                <option value="" disabled selected style="color: red;">Seleccione el tipo de respuesta:</option>
                <option value="si-no" style="color: #000000;">Sí/No</option>
                <option value="1-5" style="color: #000000;">1 al 5</option>
                <option value="1-10" style="color: #000000;">1 al 10</option>
            </select>
            <br>
            <br>
            <!-- Agrega más campos de pregunta aquí... -->

            <div class="row mt-2 text-center">
                <div class="col-lg-6">
                    <button routerLink="/main" type="button" class="btn btn-secondary">Volver</button>
                </div>
                <div class="col-lg-6">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
